*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

html{
    font-size: 62.5%;
}

.box{
    
    position: absolute;
    margin: auto;
    
    
}

.titulo{
    border-radius: 0.5rem;
    border: 0.2rem black solid;
    background-color: red;
    font-size: 1.8rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 15rem;
    position: relative;
    top: 2rem;
}


.texto {
    background-color:grey;
    border: 2px black solid;
    border-radius: 10px;
    width: 80%;
    font-size:1.5rem;
    padding: 3rem;
    font-size: 1.8rem;
    margin: auto;
   
    

}
